<p class="form-title"> Add links from Rss to your daily digest </p>
<%= custom_source_form(custom_source) %>
<%= render 'layouts/errors', object: custom_source %>

<div class="field form-group">
  <label for="website_name">Website name</label>
  <%= text_field_tag :website_name, custom_source.extra["website_name"], placeholder: "Product Hunt", class: 'form-control' %>
</div>

<div class="field form-group">
  <label for="url">Rss url</label>
  <%= text_field_tag :url, custom_source.extra["url"], placeholder: "http://www.producthunt.com/feed", class: 'form-control' %>
</div>

<div class="field form-group">
  <label for="website_logo">Website logo</label>
  <%= text_field_tag :website_logo, custom_source.extra["website_logo"], placeholder: "online logo url", class: 'form-control' %>
</div>

<%= submit_tag "Validate", class: "btn btn-success" %>
