<div class="page-header">
	<h1><%= @title %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="links">
    <% if @days.keys.length > 0 %>
        <% @days.keys.sort.reverse.each do |day| %>
          <div class="row">
            <h4 class="text-muted"><%= day.to_s(:day_title) %></h4>
            <ul class="list-unstyled">
              <% @days[day].sort_by {|obj| obj.created_at }.reverse.each do |link| %>
                <li style="padding:5px;">
                  <%= render partial: "shared/link", locals: { link: link} %>
                  <%= link_to "comments...", group_link_path(@group, link) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% else %>
        No links for now
      <% end %>
    </div>
    <div id="links_navigation">
      <%= will_paginate @links %>
    </div>
  </div>

	<div class="col-md-4">
    <%= render partial: "share_form" %>

    <%= render partial: "members_list" %>    

    <%= render partial: "invite_form" %>
    
    <%= render partial: "pending_invitations" %>
  </div>
</div>