<div class="panel panel-default">
  <div class="panel-body" style="padding: 0px;">
    <div style="padding: 2%;">
      <%= link_to image_tag(link.user.avatar, class: "avatar img-circle"), "http://twitter.com/#{link.user.nickname}", target: "_blank" %>
      &nbsp;&nbsp;
      <span style="font-size:20px;">
        <%= link_to @link_presenter.safe_link_title(link), link.url, target: "_blank", class: 'text-muted' %>
      </span>
      <% if is_current_user(link.user) %>
        <%= link_to "", group_link_path(@group, link), method: :delete, data: {confirm: "Are you sure?" }, class: "glyphicon glyphicon-remove text-muted", style: "float: right;" %>
      <% end %>
    </div>
    <% if link.image_url %>
      <div style="width:100%; height: 60px; overflow: hidden; background: url(<%= link.image_url %>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      </div>
    <% end %>
    <div style="padding: 2%;">
      <%= link_to image_tag("pocket_app_logo.png", width: 25), pocket_links_add_link_path(link: {title: link.title, url: link.url}), target: "_blank" if @connected_to_pocket %>
      <% if link.description %>
        <div style="padding:5px;">
          <p><%= @link_presenter.safe_link_description(link) %></p>
        </div>
      <% end %>
      <% if link.wordcount %>
        <div style="padding:5px;">
          <p><%= @link_presenter.reading_duration(link) %></p>
        </div>
      <% end %>
      <% if current_user.try(:admin) %>
        <%= link_to "comments...", group_link_path(@group, link) %>
      <% end %>
    </div>
  </div>
</div>