<li style="padding:5px;">
  <div style="padding:5px; background:url(<%= link.image_url %>) no-repeat center center; background-size:cover;">
    <%= link_to image_tag(link.user.avatar, class: "avatar img-circle"), "http://twitter.com/#{link.user.nickname}", target: "_blank" %>
    &nbsp;&nbsp;
    <span style="font-size:20px;">
      <% if link.image_url %>
        <%= link_to link.title, link.url, target: "_blank", style: "color: #FFFFFF;" %>
      <% else %>
        <%= link_to link.title, link.url, target: "_blank", style: "color: #696969;" %>
      <% end %>
    </span>
    <%= link_to image_tag("pocket_app_logo.png", width: 25), pocket_links_add_link_path(link: {title: link.title, url: link.url}), target: "_blank" %>
  </div>
  <% if link.description %>
    <div style="padding:5px;">
      <p><%= link.description %></p>
    </div>
  <% end %>
</li>