<h4><%= link_to @group.name, group_path(@group) %></h4>
<ul class="list-unstyled">
  <li style="padding:5px;">
    <%= render partial: "shared/link", locals: { link: @link} %>
    <ul class="list-unstyled" style="padding-left: 20px;">
      <% @comments.each do |comment| %>
        <li style="background-color: #EEEEEE; margin: 2px; min-height: 40px; width: 80%;">
          <%= link_to image_tag(comment.user.avatar, class: "avatar img-circle"), "http://twitter.com/#{comment.user.nickname}", target: "_blank" %>
          <%= comment.content %>
          <% if is_current_user(comment.user) %>
            <%= link_to "", group_link_comment_path(@group, @link, comment), method: :delete, data: {confirm: "Do you want to delete this comment?" }, class: "glyphicon glyphicon-remove text-muted", style: "float: right; padding: 10px;" %>
          <% end %>

        </li>
      <% end %>
      <li style="margin: 2px; min-height: 40px; width: 80%;">
        <%= form_for [@group, @link, @comment] do |f| %>
          <%= f.text_field :content, placeholder: "Write a comment...", class: 'form-control' %>
          <%= f.submit "Send", class: "btn btn-success", style: "float:right;"%>
        <% end %>
      </li>
    </ul>
  </li>
</ulSend>