<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= render partial: "layouts/include" %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Linkastor", groups_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= menu_link("Groups", groups_path) %>
            <%= menu_link("Sources", custom_sources_path) %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> <%= flash[:alert].html_safe %>
        </div>
      <% end %>
      
      <% if flash[:info] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:info] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
